!!!
html
  head
    title= 'Nodepad'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/aristo/aristo.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css')
    script(type='text/javascript', src='/javascripts/json.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.0/backbone-min.js')
  body
    #container
      #header
        ul
          li
            h1
              a(href='/') #{nameAndVersion(appName, version)}
          - if (typeof currentUser !== 'undefined')
            li.right
              a#logout(href='/sessions') Log Out
            li.right
              form.search(action='/search')
                input(name='s', value='Search')
            li.right
              a#chatlink(href='/chat') Chat
      !{flashMessages}
      != body
    script(type='text/javascript', src='/javascripts/flash.js')
    - if (typeof documents !== 'undefined')
      script(type='text/javascript', src='/javascripts/documents.js')
      script(type='text/javascript', src='/javascripts/resize.js')
      script(type='text/javascript')
        $(function() {
          if (typeof Documents !== 'undefined')
            Documents.reset(!{JSON.stringify(documents)});
        });
     #chatdialog
        p this is basic dialog to be shown
  